* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    color: #f9f9f9;
}

.navbar {
    background-color: #D89216;
}

/* CONTAINER CSS */

.container-xxl {
    height: 240vh;
    display: flex;
    color: #f9f9f9;
    background-color: #000000;
}

.container-lg {
    height: 270vh;
}

#hi {
    height: 29vh;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-md {
    height: 170vh;
}

.container-md img {
    height: 140px;
    width: 140px;
    clip-path: circle(50% at 50% 50%);
}

.container-md p {
    display: flex;
    margin-top: 40px;
    text-align: left;
}
.container-md h2 {
    margin-top: 30px;
    text-align: left;
}

/* BUTTON CODE */

.container-md button {
    height: 50px;
    width: 150px;
    font-size: 15px;
    margin-top: 30px;
    color: #000000;
    border-radius: 5px;
    border: 1px solid #D89216;
    background-color: #D89216;
}

.container-md button:hover {
    color: #D89216;
    transition: all 0.5s;
    background-color: transparent;
    border: 1px solid #D89216;
}

span {
    color: #D89216;
}

.mail_btnn {
    height: 50px;
    width: 200px;
    font-size: 20px;
    color: #D89216;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #000000;
}

.mail_btnn:hover {
    color: #000000;
    transition: all 0.5s;
    border: 1px solid #000000;
    background-color: transparent;
}

/* CONTAINER_2 */

.cont2-xxl{
    height: 500vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: #000000;
}
.container-xl{
    height: 450vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-xl img{
    padding: 30px;
}
.heading{
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* background-color: darkcyan; */
}
.heading h1{
    font-size: 20px;
}
.heading p{
    font-size: 12px;
}
.heading img{
    height: 75px;
    width: 75px;
}
#p1{
    margin-top: -1px;
}
.container-md h1{
    margin-top: -10px;
}