* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    color: #f9f9f9;
}

.navbar {
    background-color: #D89216;
}

/* CONTAINER CSS */

.container-xxl {
    height: 200vh;
    display: flex;
    color: #f9f9f9;
    /* align-items: center; */
    background-color: #000000;
}

.container-lg {
    height: 200vh;
    background-color: #000000;
}

#hi {
    height: 30vh;
    margin-top: 100px;
}

.container-md {
    height: 115vh;
}

.container-md img {
    height: 150px;
    width: 150px;
}

.container-md p {
    display: flex;
    margin-top: 30px;
    text-align: left;
}
.container-md h2 {
    margin-top: 30px;
}

/* BUTTON CODE */

.container-md button {
    height: 50px;
    width: 150px;
    font-size: 15px;
    margin-top: 50px;
    color: #000000;
    border-radius: 5px;
    border: 1px solid #D89216;
    background-color: #D89216;
}

.container-md button:hover {
    color: #D89216;
    transition: all 0.5s;
    background-color: transparent;
    border: 1px solid #D89216;
}

span {
    color: #D89216;
}

.mail_btnn {
    height: 50px;
    width: 200px;
    font-size: 20px;
    color: #D89216;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #000000;
}

.mail_btnn:hover {
    color: #000000;
    transition: all 0.5s;
    border: 1px solid #000000;
    background-color: transparent;
}

/* CONTAINER_2 */

.cont2-xxl{
    height: 500vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}
.container-xl{
    height: 450vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: brown; */
}
.container-xl img{
    padding: 30px;
}
.heading{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}
.heading h1{
    font-size: 30px;
}
